                        
                           h1{
                              font-family: 'DizhitlRegular';
                              font-weight: normal;
                              font-style: normal;}

                          * {
	                     font-family: Arial, Verdana, sans-serif;
	                     color: #665544;
                             text-align: center;}

                       body {
			     background-image:url("https://www.freepik.com/free-photo/maple-leaf-border-background-orange-watercolor-autumn-season_17597748.htm#query=background&position=27&from_view=keyword");
	                      width: 90%;
                              margin: 0 auto;}

                    #content {
	                       overflow: auto;}

    #nav, #feature, #footer {
	                       margin: 1%;}
                       #nav {
	                      background-color: #DEB887;}
                    #feature {
	                      background-color: #F08080;}
                    #footer {
	                      background-color: ##FAFAD2;}
                    .column1 {
	                        background-color: #FFDAB9;}
                   .column2 {
	                        background-color: #FFA07A;}
.column1, .column2, .column3 {
				width: 31.3%;
				float: left;
				margin: 1%;}

                      .column3 {
	                        background-color: #FFB6C1;}


			li {
				display: inline;
				padding: 0.5em;}

	       #nav, #footer {
				padding: 0.5em 0;}

	  #feature, .article {
				height: 10em;
				margin-bottom: 1em;}

                         #feature {
				background-color:;
				background-image: url("...");
                                background-size:contain;
                                background-position: right;
				 background-repeat:no-repeat;}

                         
